// list08
section.list_08(data-menu='true')
	.layoutWrap
		h2.title RELATED ARTICLES
		ul.article
			li.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup')
				a.img(href='https://www.juksy.com/archives/74216', target='_blank', style='background-image:url("https://static.juksy.com/files/articles/74216/5a434948545ca.jpg?m=resize&i=760x400&q=75");')
					.linkWrap(style='background-image: repeating-linear-gradient(45deg, #3aecff, #ffff4c, #c280ff) , url("https://static.juksy.com/files/articles/74216/5a434948545ca.jpg?m=resize&i=760x400&q=75");')
						.txt READ MORE
				.txtWrap
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/74216', target='_blank')
						h3 【新風作浪】還在穿深咖啡、黑色？！這個冬天「超亮眼」還不跟上就 out of fashion 了！
				.date Dec 28.2017 | by Jade.K
			li.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup')
				a.img(href='https://www.juksy.com/archives/74158', target='_blank', style='background-image:url("https://static.juksy.com/files/articles/74158/5a41c4b858992.jpg?m=resize&i=760x400&q=75");')
					.linkWrap(style='background-image: repeating-linear-gradient(45deg, #3aecff, #ffff4c, #c280ff) , url("https://static.juksy.com/files/articles/74158/5a41c4b858992.jpg?m=resize&i=760x400&q=75");')
						.txt READ MORE
				.txtWrap
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/74158', target='_blank')
						h3 【新風作浪】2018 將大舉入侵街頭！這些品牌出的「螢光綠」單品燒到你了嗎？------
				.date Dec 25.2017 | by Xin
			li.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup')
				a.img(href='https://www.juksy.com/archives/74154', target='_blank', style='background-image:url("https://static.juksy.com/files/articles/74154/5a40ec6f20313.jpg?m=resize&i=760x400&q=75");')
					.linkWrap(style='background-image: repeating-linear-gradient(45deg, #3aecff, #ffff4c, #c280ff) , url("https://static.juksy.com/files/articles/74154/5a40ec6f20313.jpg?m=resize&i=760x400&q=75");')
						.txt READ MORE
				.txtWrap
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/74154', target='_blank')
						h3 【新風作浪】不夠怪不合作！回顧潮牌的稀奇聯乘之作，竟驚見「成人用品」？
				.date Dec 25.2017 | by  Liam
			li.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup')
				a.img(href='https://www.juksy.com/archives/74197', target='_blank', style='background-image:url("https://static.juksy.com/files/articles/74197/5a43243a17c12.jpg?m=resize&i=760x400&q=75");')
					.linkWrap(style='background-image: repeating-linear-gradient(45deg, #3aecff, #ffff4c, #c280ff) , url("https://static.juksy.com/files/articles/74197/5a43243a17c12.jpg?m=resize&i=760x400&q=75");')
						.txt READ MORE
				.txtWrap
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/74197', target='_blank')
						h3 【新風作浪】新年願望是把 YEEZY 送上月球！超狂鞋頭麥片哥將現身「球鞋派對」
				.date Dec 27.2017 | by Xin
			li.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup')
				a.img(href='https://www.juksy.com/archives/74184', target='_blank', style='background-image:url("https://static.juksy.com/files/articles/74184/5a422e29c1988.jpg?m=resize&i=760x400&q=75");')
					.linkWrap(style='background-image: repeating-linear-gradient(45deg, #3aecff, #ffff4c, #c280ff) , url("https://static.juksy.com/files/articles/74184/5a422e29c1988.jpg?m=resize&i=760x400&q=75");')
						.txt READ MORE
				.txtWrap
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/74184', target='_blank')
						h3 【新風作浪】裝彈匣的也能成為潮物？特搜 4 家勢必火紅新晉品牌　肯爺的愛牌竟然是它…！
				.date Dec 26.2017 | by Jerry
			li.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup')
				a.img(href='https://www.juksy.com/archives/74150', target='_blank', style='background-image:url("https://static.juksy.com/files/articles/74150/5a40c976e7b6d.jpg?m=resize&i=760x400&q=75");')
					.linkWrap(style='background-image: repeating-linear-gradient(45deg, #3aecff, #ffff4c, #c280ff) , url("https://static.juksy.com/files/articles/74150/5a40c976e7b6d.jpg?m=resize&i=760x400&q=75");')
						.txt READ MORE
				.txtWrap
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/74150', target='_blank')
						h3 【新風作浪】明年就夯這一「唇」！特搜 2018 Pantone 色票釋出「 5 款唇色」趨勢
				.date Dec 18.2017 | by 熊C
// list08 end