// list09
section.list_09(data-menu='true')
	.layoutWrap
		h2.title JUKSY STAR
		.article
			ul.pic.showOnScroll(data-show-offset='100', data-show-animation='custom_R2Lflow')
				li.now
					a.img.imgLoading(href='https://www.juksy.com/archives/74266', target='_blank', data-imgload='img/article/l_09/01.jpg')
				li
					a.img.imgLoading(href='https://www.juksy.com/archives/74267', target='_blank', data-imgload='img/article/l_09/02.jpg')
			.txt
				ul.dateWrap
					li.now
						.date 10
						.month Jan
							br
							| 2018
						.author by cloundchen
					li
						.date 11
						.month Jan
							br
							| 2018
						.author by cloundchen
				ul.main
					li.now
						.atitleWrap.showOnScroll(data-show-offset='100', data-show-animation='custom_fadeinup')
							a.atitle(data-dotdotdot='true', href='https://www.juksy.com/archives/74266', target='_blank')
								h3 副業開張！張景嵐展露闆娘魂：「我是可以為了更遠大的目標，犧牲事物、捨棄金錢的人。」
						.detail.showOnScroll(data-show-offset='100', data-show-animation='custom_fadeinup', data-dotdotdot='true') 「我是可以為了更遠大的目標，犧牲事物、捨棄金錢的人。」還記當拍攝當天，張景嵐身穿大地色針織毛衣搭配裸膚紗裙，仙氣十足的飄進現場，悠悠然地拿出她最新自創面膜品牌《Under Universe》，敷上後宛如在她家般開始跟大家話家常並表示：「能夠擔任 JUKSY 2018第一位封面人物，興奮之餘也很期待今天全新的自己，我可以很瘋的！」一路從展場女模、拿下宅男女神的開山封號、進入戲劇圈開始演員之路、開創自有事業，不可否認她確實不簡單！她嬌柔的聲音說出硬漢的話、她圓滾的眼睛充滿野心，此次的訪談你將會對張景嵐有高反差的新看法。
						a.button.showOnScroll(data-show-offset='100', data-show-animation='custom_fadeinup', href='https://www.juksy.com/archives/74266', target='_blank') Read More >>
					li
						.atitleWrap.showOnScroll(data-show-offset='100', data-show-animation='custom_fadeinup')
							a.atitle(data-dotdotdot='true', href=' https://www.juksy.com/archives/74267', target='_blank')
								h3 張景嵐脫掉女神紗裙換上 Supreme！挑戰街頭重裝「羽絨夾克」神帥駕馭！
						.detail.showOnScroll(data-show-offset='100', data-show-animation='custom_fadeinup', data-dotdotdot='true') 2018開年首位封面人物 - 張景嵐，一改過往氣質性感的女神形象，此次不僅嘗試了街頭火辣風格，一到現場更大膽說：「我可以很瘋！」，此次造型重點是挑戰駕馭今年秋冬最炙手可熱的單品 - 羽絨夾克，這單品燒的的程度，連可能20幾年都沒穿過羽絨衣的你也會極度想入手！成功顛覆羽絨外套俗氣形象，成為了新一代奢侈品指標！
						a.button.showOnScroll(data-show-offset='100', data-show-animation='custom_fadeinup', href=' https://www.juksy.com/archives/74267', target='_blank') Read More >>
			.navWrap
				.nav
					.btn.left.end <
					.number
						span.now 1
						| /
						span.total 2
					.btn.right >
// list09 end